<template>
 <div>
   <div class="error" v-if="!item">{{errorMessage}}</div>
   <div v-else>
    <h2>{{item.name}}</h2>
    <h4>{{item.category}}</h4>

    <GeoLocationComponent :location="item.location"></GeoLocationComponent>

   </div>
    <router-link class="nav-link" to="/">GO BACK</router-link>
 </div>
</template>

<script>
import GeoLocationComponent from "./GeoLocationComponent";
export default {
  name: "BusinessDetailsComponent",
  props: ["item"],
  data() {
    return {
      errorMessage: "Error! Go back to main list and try again!"
    };
  }
  // computed: {
  //   businessLocation() {
  //     console.log(this.item.location);
  //     return this.item.location;
  //   }
  // }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.error {
  color: red;
  font-size: 2em;
}
</style>
