<template>
  <div class="container">
    <GmapMap
      :center="busLocation"
      :zoom="12"
      map-type-id="terrain"
          style="width:100%;  height: 400px;"
    >
      <GmapMarker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
      />
    </GmapMap>
  </div>
</template>

<script>
export default {
  name: "GeoLocationComponent",
  props: ["location"],
  data() {
    return {
      // default to Montreal to keep it simple
      // change this to whatever makes sense
      busLocation: this.location,
      markers: []
    };
  },

  mounted() {
    // this.$refs.mapRef.$mapPromise.then(map => {
    //   map.panTo(busLocation);
    // });
    this.markers.push({ position: this.busLocation });
  },

  methods: {}
};
</script>