<template>
 <div class="container">

   <table class="table table-hover table-bordered">
     <thead>
       <tr>
         <td> 
            <input class="filter-input" placeholder="Name" v-model="filterName" />
            <a href="#" v-on:click="sortBy('name')">
              <img src="../assets/fa-sort.svg" />
            </a>
          </td>
         <td>
            Category
            <a href="#" v-on:click="sortBy('category')">
              <img src="../assets/fa-sort.svg" />
            </a>
         </td>
         
         <td>
           Campaigns
            <a href="#" v-on:click="sortBy('numCampaigns')">
              <img src="../assets/fa-sort.svg" />
            </a>
            </td>
       </tr>
     </thead>
     <tbody>
       <tr v-for="item in items" :key="item.name">
         <td> <router-link class="nav-link" :to="{name:'Details', params: {item} }"> {{item.name}} </router-link> </td>
         <td> {{item.category}} </td>
         <td> {{item.numCampaigns}} </td>
       </tr>
     </tbody>
   </table>

 </div>
</template>

<script>
/* eslint-disable */
import businessList from "../../data/business-list";
export default {
  name: "MainComponent",
  data() {
    return {
      filterName: "",
      sortColumn: "name",
      sortOrder: "asc"
    };
  },
  computed: {
    items: function() {
      let ret = this.filterName
        ? (ret = _.filter(businessList, s =>
            s.name.toLowerCase().startsWith(this.filterName.toLowerCase())
          ))
        : businessList;
      return _.orderBy(ret, this.sortColumn, this.sortOrder);
    }
  },
  methods: {
    sortBy(columnName) {
      if (columnName === this.sortColumn) {
        //flip the sort order for this column
        this.sortOrder = this.sortOrder === "asc" ? "desc" : "asc";
      } else {
        //otherwise set sortColumn and sortKey
        this.sortColumn = columnName;
        this.sortOrder = "asc";
      }
    }
  }
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.filter-input {
  padding-left: 0.3em;
  width: 12em;
}

thead tr td {
  font-weight: bold;
}
</style>
